@import 'tailwindcss';

@theme inline {
  /* Global Tokens */
  --color-cyan-50: #e6f8fc;
  --color-cyan-100: #b3eaf4;
  --color-cyan-200: #80dbec;
  --color-cyan-300: #4dcce4;
  --color-cyan-400: #00a4c5;
  --color-cyan-500: #0090ae;
  --color-cyan-600: #007a94;
  --color-cyan-700: #006378;
  --color-cyan-800: #004d5c;
  --color-cyan-900: #003640;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-white: #ffffff;
  --color-black: #000000;

  /* Alias Tokens */
  /* Brand Alias */
  --color-brand-primary: var(--color-cyan-400);
  --color-brand-primary-focus: var(--color-cyan-500);
  --color-brand-primary-hover: var(--color-cyan-500);
  --color-brand-primary-active: var(--color-cyan-700);
  --color-brand-subtle: var(--color-cyan-50);

  /* Neutral Alias */
  --color-neutral-primary: var(--color-gray-900);
  --color-neutral-secondary: var(--color-gray-600);
  --color-neutral-tertiary: var(--color-gray-400);
  --color-neutral-subtle: var(--color-gray-100);

  /* Error Alias */
  --color-error-primary: var(--color-red-500);
  --color-error-accent: var(--color-red-200);
}
